<section class="app-description">
  <div>
    <h1>Page Click Counter</h1>
    <p>Start clicking around the page...</p>
  </div>
  <button mat-raised-button color="accent">Save State</button>
</section>
<section class="counter">
  <div class="left-clicks">
    <h3>Right Clicks</h3>
    <p>
      Total: <strong>{{ 0 }} times</strong>
    </p>
  </div>
  <mat-divider vertical />
  <div class="right-clicks">
    <h3>Left Clicks</h3>
    <p>
      Total: <strong>{{ 0 }} times</strong>
    </p>
  </div>
</section>
<section class="last-click-tracker">
  <h3>Last Clicked</h3>
  <p>
    <strong>"{{ "Left" }}"</strong> Side
  </p>
</section>
