.counter {
  background-color: #fafafa;
  border-radius: 5px;
  padding: 5px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.last-click-tracker {
  text-align: center;
}
mat-divider {
  height: 70px;
}
